In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [3]:
trainOriginalData = pd.read_csv('/kaggle/input/titanic/train.csv')
testOriginalData = pd.read_csv('/kaggle/input/titanic/test.csv')
print(trainOriginalData.head(5))
print('\n')
print(testOriginalData.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S


   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [ ]:
print(trainOriginalData.isna().sum(),"\n")
print(trainOriginalData.isna().sum())

In [ ]:
trainData = trainOriginalData.drop(["Name","Sex","Ticket","Cabin","Embarked","Cabin"], axis = 1)
testData = testOriginalData.drop(["Name", "Sex", "Ticket", "Cabin","Embarked","Cabin"], axis = 1)

In [66]:
yTrain = trainData["Survived"]
xTrain = trainData.fillna(trainData.mode())
xTrain = xTrain.drop(["Survived"],axis = 1)
xTest = testData.fillna(trainData.mode())

In [67]:
print(xTrain.isna().sum(),"\n")
print(xTest.isna().sum())
xTrain['Fare'] = xTrain['Fare'].fillna(xTrain['Fare'].mean())
xTrain['Age'] = xTrain['Age'].fillna(xTrain['Age'].mean())
xTest['Age'] = xTest['Age'].fillna(xTest['Age'].mean())
xTest['Fare'] = xTest['Fare'].fillna(xTest['Fare'].mean())
print(xTest.isna().sum())

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           1
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [68]:
model = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=100, min_samples_leaf= 3)
model.fit(xTrain, yTrain)

RandomForestClassifier(max_depth=10, min_samples_leaf=3, random_state=100)

In [69]:
predictions = model.predict(xTest)

output = pd.DataFrame({'PassengerId': xTest.PassengerId, 'Survived': predictions})
output.to_csv('submissionBasicRF.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [70]:
from sklearn.neural_network import MLPClassifier

In [71]:
num_epochs = 30
num_hidden_units = 2048
learning_rate_init = 0.001
activation = 'relu'
SEED = 100

In [72]:
mlp = MLPClassifier(
    hidden_layer_sizes=(num_hidden_units,),
    activation=activation,
    learning_rate_init=learning_rate_init,
    warm_start=True,
    verbose=True,
    random_state=SEED,
    early_stopping=True,
    n_iter_no_change=100, # large number of iterations to avoid early stopping message
)

In [73]:
mlp.fit(xTrain, yTrain)

Iteration 1, loss = 5.92189652
Validation score: 0.611111
Iteration 2, loss = 2.08675965
Validation score: 0.633333
Iteration 3, loss = 3.13025659
Validation score: 0.655556
Iteration 4, loss = 1.62812045
Validation score: 0.666667
Iteration 5, loss = 1.00513699
Validation score: 0.677778
Iteration 6, loss = 0.80410819
Validation score: 0.722222
Iteration 7, loss = 0.67454088
Validation score: 0.622222
Iteration 8, loss = 1.10567252
Validation score: 0.488889
Iteration 9, loss = 1.08396207
Validation score: 0.455556
Iteration 10, loss = 1.17216287
Validation score: 0.655556
Iteration 11, loss = 0.88854680
Validation score: 0.433333
Iteration 12, loss = 1.34089198
Validation score: 0.611111
Iteration 13, loss = 1.57168966
Validation score: 0.444444
Iteration 14, loss = 1.35832649
Validation score: 0.722222
Iteration 15, loss = 0.83561055
Validation score: 0.644444
Iteration 16, loss = 1.20580955
Validation score: 0.711111
Iteration 17, loss = 0.81229606
Validation score: 0.466667
Iteration 18, loss = 1.01777233
Validation score: 0.711111
Iteration 19, loss = 0.75171560
Validation score: 0.666667
Iteration 20, loss = 0.94234224
Validation score: 0.600000
Iteration 21, loss = 0.73564099
Validation score: 0.555556
Iteration 22, loss = 0.70414394
Validation score: 0.466667
Iteration 23, loss = 1.60380856
Validation score: 0.677778
Iteration 24, loss = 0.82396771
Validation score: 0.600000
Iteration 25, loss = 0.89462635
Validation score: 0.733333
Iteration 26, loss = 0.67979120
Validation score: 0.622222
Iteration 27, loss = 1.74239409
Validation score: 0.477778
Iteration 28, loss = 1.25239758
Validation score: 0.722222
Iteration 29, loss = 0.82034433
Validation score: 0.666667
Iteration 30, loss = 1.05196254
Validation score: 0.700000
Iteration 31, loss = 0.75029883
Validation score: 0.422222
Iteration 32, loss = 5.10742196
Validation score: 0.611111
Iteration 33, loss = 5.90342044
Validation score: 0.622222
Iteration 34, loss = 2.43546198
Validation score: 0.700000
Iteration 35, loss = 1.84647218
Validation score: 0.722222
Iteration 36, loss = 1.17847821
Validation score: 0.666667
Iteration 37, loss = 1.54387440
Validation score: 0.677778
Iteration 38, loss = 1.57966937
Validation score: 0.688889
Iteration 39, loss = 1.35517835
Validation score: 0.455556
Iteration 40, loss = 1.49329045
Validation score: 0.622222
Iteration 41, loss = 1.40754217
Validation score: 0.444444
Iteration 42, loss = 1.75747289
Validation score: 0.811111
Iteration 43, loss = 2.56087768
Validation score: 0.677778
Iteration 44, loss = 2.82553532
Validation score: 0.733333
Iteration 45, loss = 1.06071923
Validation score: 0.700000
Iteration 46, loss = 0.96399055
Validation score: 0.422222
Iteration 47, loss = 3.75436258
Validation score: 0.611111
Iteration 48, loss = 4.72141013
Validation score: 0.644444
Iteration 49, loss = 1.89133792
Validation score: 0.711111
Iteration 50, loss = 2.47851773
Validation score: 0.666667
Iteration 51, loss = 2.11391097
Validation score: 0.433333
Iteration 52, loss = 3.21813993
Validation score: 0.711111
Iteration 53, loss = 1.78483443
Validation score: 0.700000
Iteration 54, loss = 1.12118958
Validation score: 0.722222
Iteration 55, loss = 0.78580616
Validation score: 0.711111
Iteration 56, loss = 0.75727001
Validation score: 0.733333
Iteration 57, loss = 0.89785595
Validation score: 0.622222
Iteration 58, loss = 4.20658482
Validation score: 0.622222
Iteration 59, loss = 3.68011179
Validation score: 0.722222
Iteration 60, loss = 4.03392895
Validation score: 0.622222
Iteration 61, loss = 5.56561778
Validation score: 0.700000
Iteration 62, loss = 1.64626117
Validation score: 0.611111
Iteration 63, loss = 5.72829807
Validation score: 0.611111
Iteration 64, loss = 3.35898209
Validation score: 0.411111
Iteration 65, loss = 3.43982746
Validation score: 0.622222
Iteration 66, loss = 4.86948249
Validation score: 0.700000
Iteration 67, loss = 4.19984288
Validation score: 0.511111
Iteration 68, loss = 3.34192568
Validation score: 0.633333
Iteration 69, loss = 4.17107157
Validation score: 0.711111
Iteration 70, loss = 2.65312796
Validation score: 0.700000
Iteration 71, loss = 1.53690688
Validation score: 0.588889
Iteration 72, loss = 3.01794318
Validation score: 0.711111
Iteration 73, loss = 1.28689816
Validation score: 0.700000
Iteration 74, loss = 1.60088439
Validation score: 0.788889
Iteration 75, loss = 0.97855477
Validation score: 0.744444
Iteration 76, loss = 1.09788216
Validation score: 0.655556
Iteration 77, loss = 0.93815392
Validation score: 0.544444
Iteration 78, loss = 2.84753730
Validation score: 0.744444
Iteration 79, loss = 1.37931781
Validation score: 0.822222
Iteration 80, loss = 0.69023535
Validation score: 0.711111
Iteration 81, loss = 1.26020897
Validation score: 0.822222
Iteration 82, loss = 0.74519546
Validation score: 0.744444
Iteration 83, loss = 0.68970158
Validation score: 0.744444
Iteration 84, loss = 0.64588379
Validation score: 0.800000
Iteration 85, loss = 0.78055788
Validation score: 0.733333
Iteration 86, loss = 0.94674623
Validation score: 0.744444
Iteration 87, loss = 1.64126560
Validation score: 0.733333
Iteration 88, loss = 0.97849087
Validation score: 0.733333
Iteration 89, loss = 1.51722759
Validation score: 0.733333
Iteration 90, loss = 0.89108112
Validation score: 0.722222
Iteration 91, loss = 3.71241072
Validation score: 0.700000
Iteration 92, loss = 3.44039430
Validation score: 0.411111
Iteration 93, loss = 4.79277831
Validation score: 0.666667
Iteration 94, loss = 4.09771858
Validation score: 0.633333
Iteration 95, loss = 3.11394625
Validation score: 0.688889
Iteration 96, loss = 2.00470920
Validation score: 0.711111
Iteration 97, loss = 1.59855176
Validation score: 0.711111
Iteration 98, loss = 1.09493429
Validation score: 0.755556
Iteration 99, loss = 1.58587098
Validation score: 0.766667
Iteration 100, loss = 1.84753941
Validation score: 0.744444
Iteration 101, loss = 3.75990601
Validation score: 0.622222
Iteration 102, loss = 2.15386408
Validation score: 0.433333
Iteration 103, loss = 2.56969511
Validation score: 0.688889
Iteration 104, loss = 3.05195207
Validation score: 0.733333
Iteration 105, loss = 1.16718014
Validation score: 0.511111
Iteration 106, loss = 1.23347520
Validation score: 0.722222
Iteration 107, loss = 2.63679821
Validation score: 0.811111
Iteration 108, loss = 1.05971497
Validation score: 0.744444
Iteration 109, loss = 0.85727598
Validation score: 0.611111
Iteration 110, loss = 0.94612452
Validation score: 0.744444
Iteration 111, loss = 0.98924422
Validation score: 0.711111
Iteration 112, loss = 0.83509804
Validation score: 0.822222
Iteration 113, loss = 0.93934715
Validation score: 0.822222
Iteration 114, loss = 0.65001189
Validation score: 0.822222
Iteration 115, loss = 0.64610161
Validation score: 0.477778
Iteration 116, loss = 3.34390739
Validation score: 0.677778
Iteration 117, loss = 4.92803384
Validation score: 0.622222
Iteration 118, loss = 3.02586002
Validation score: 0.422222
Iteration 119, loss = 7.10468603
Validation score: 0.677778
Iteration 120, loss = 4.79891074
Validation score: 0.622222
Iteration 121, loss = 8.13724719
Validation score: 0.633333
Iteration 122, loss = 2.88610688
Validation score: 0.411111
Iteration 123, loss = 8.23724746
Validation score: 0.700000
Iteration 124, loss = 1.86144314
Validation score: 0.666667
Iteration 125, loss = 1.69243287
Validation score: 0.522222
Iteration 126, loss = 1.28034095
Validation score: 0.711111
Iteration 127, loss = 1.38308196
Validation score: 0.800000
Iteration 128, loss = 0.85537991
Validation score: 0.733333
Iteration 129, loss = 0.90494824
Validation score: 0.755556
Iteration 130, loss = 0.72656658
Validation score: 0.755556
Iteration 131, loss = 0.74178980
Validation score: 0.722222
Iteration 132, loss = 0.71198048
Validation score: 0.755556
Iteration 133, loss = 0.66177329
Validation score: 0.833333
Iteration 134, loss = 0.56286283
Validation score: 0.811111
Iteration 135, loss = 0.51911164
Validation score: 0.844444
Iteration 136, loss = 0.50948681
Validation score: 0.811111
Iteration 137, loss = 0.51124056
Validation score: 0.833333
Iteration 138, loss = 0.50411735
Validation score: 0.822222
Iteration 139, loss = 0.56121984
Validation score: 0.744444
Iteration 140, loss = 0.69559631
Validation score: 0.755556
Iteration 141, loss = 0.66429732
Validation score: 0.722222
Iteration 142, loss = 0.69741227
Validation score: 0.677778
Iteration 143, loss = 0.65939273
Validation score: 0.722222
Iteration 144, loss = 0.68091209
Validation score: 0.666667
Iteration 145, loss = 2.42195496
Validation score: 0.611111
Iteration 146, loss = 1.42606400
Validation score: 0.466667
Iteration 147, loss = 1.51448275
Validation score: 0.655556
Iteration 148, loss = 1.92111231
Validation score: 0.722222
Iteration 149, loss = 0.91187618
Validation score: 0.766667
Iteration 150, loss = 1.05994407
Validation score: 0.688889
Iteration 151, loss = 3.51115959
Validation score: 0.488889
Iteration 152, loss = 1.41220934
Validation score: 0.622222
Iteration 153, loss = 1.99084011
Validation score: 0.688889
Iteration 154, loss = 1.03427655
Validation score: 0.700000
Iteration 155, loss = 1.24344706
Validation score: 0.466667
Iteration 156, loss = 5.12139318
Validation score: 0.555556
Iteration 157, loss = 2.88609329
Validation score: 0.611111
Iteration 158, loss = 6.67299409
Validation score: 0.622222
Iteration 159, loss = 5.01493517
Validation score: 0.455556
Iteration 160, loss = 3.91006842
Validation score: 0.622222
Iteration 161, loss = 4.02854953
Validation score: 0.666667
Iteration 162, loss = 1.97136306
Validation score: 0.700000
Iteration 163, loss = 1.59310378
Validation score: 0.677778
Iteration 164, loss = 1.52770979
Validation score: 0.777778
Iteration 165, loss = 0.77451151
Validation score: 0.544444
Iteration 166, loss = 1.11986936
Validation score: 0.700000
Iteration 167, loss = 0.97138672
Validation score: 0.444444
Iteration 168, loss = 2.18831583
Validation score: 0.666667
Iteration 169, loss = 2.72043568
Validation score: 0.688889
Iteration 170, loss = 1.02604723
Validation score: 0.766667
Iteration 171, loss = 1.09893325
Validation score: 0.711111
Iteration 172, loss = 0.71024377
Validation score: 0.588889
Iteration 173, loss = 0.76985490
Validation score: 0.788889
Iteration 174, loss = 0.80859805
Validation score: 0.777778
Iteration 175, loss = 0.81294581
Validation score: 0.811111
Iteration 176, loss = 0.59763292
Validation score: 0.777778
Iteration 177, loss = 0.54772699
Validation score: 0.788889
Iteration 178, loss = 0.51981347
Validation score: 0.755556
Iteration 179, loss = 0.73764120
Validation score: 0.677778
Iteration 180, loss = 0.71415621
Validation score: 0.744444
Iteration 181, loss = 0.68068901
Validation score: 0.622222
Iteration 182, loss = 0.74544078
Validation score: 0.733333
Iteration 183, loss = 0.69083369
Validation score: 0.766667
Iteration 184, loss = 1.05060274
Validation score: 0.622222
Iteration 185, loss = 2.64581171
Validation score: 0.677778
Iteration 186, loss = 1.13122902
Validation score: 0.788889
Iteration 187, loss = 0.68314253
Validation score: 0.566667
Iteration 188, loss = 1.11133150
Validation score: 0.644444
Iteration 189, loss = 1.79969089
Validation score: 0.766667
Iteration 190, loss = 1.33539965
Validation score: 0.722222
Iteration 191, loss = 1.37591234
Validation score: 0.733333
Iteration 192, loss = 0.66355176
Validation score: 0.766667
Iteration 193, loss = 0.56195075
Validation score: 0.777778
Iteration 194, loss = 0.51189664
Validation score: 0.800000
Iteration 195, loss = 0.51094567
Validation score: 0.733333
Iteration 196, loss = 1.16718592
Validation score: 0.811111
Iteration 197, loss = 0.68153176
Validation score: 0.744444
Iteration 198, loss = 0.81305810
Validation score: 0.700000
Iteration 199, loss = 0.64435825
Validation score: 0.744444
Iteration 200, loss = 0.76210352
Validation score: 0.588889

MLPClassifier(early_stopping=True, hidden_layer_sizes=(2048,),
              n_iter_no_change=100, random_state=100, verbose=True,
              warm_start=True)

In [75]:
predictions = mlp.predict(xTest)
output = pd.DataFrame({'PassengerId': xTest.PassengerId, 'Survived': predictions})
output.to_csv('submissionBasicCNN.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

## Adding feature treatment

In [53]:
trainOriginalData = pd.read_csv('/kaggle/input/titanic/train.csv')
testOriginalData = pd.read_csv('/kaggle/input/titanic/test.csv')

In [54]:
trainOriginalData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [55]:
trainOriginalData['Sex'] = pd.get_dummies(trainOriginalData['Sex'], dtype=int)["male"]
testOriginalData['Sex'] = pd.get_dummies(testOriginalData['Sex'], dtype=int)["male"]

In [56]:
trainOriginalData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [57]:
trainOriginalData["Age"] = trainOriginalData["Age"]/trainOriginalData["Age"].max()
trainOriginalData['Age'] = trainOriginalData['Age'].fillna(trainOriginalData['Age'].mean())

testOriginalData["Age"] = testOriginalData["Age"]/testOriginalData["Age"].max()
testOriginalData['Age'] = testOriginalData['Age'].fillna(testOriginalData['Age'].mean())

In [58]:
trainOriginalData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,0.275000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,0.475000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,0.325000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,0.437500,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,0.437500,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,0.337500,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,0.237500,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,0.371239,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,0.325000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,0.400000,0,0,370376,7.7500,NaN,Q

In [59]:
trainOriginalData = trainOriginalData.drop(["Ticket","Cabin","Name"], axis = 1)
testOriginalData = testOriginalData.drop(["Ticket","Cabin","Name"], axis = 1)

In [60]:
trainOriginalData

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,1,0.275000,1,0,7.2500,S
1,2,1,1,0,0.475000,1,0,71.2833,C
2,3,1,3,0,0.325000,0,0,7.9250,S
3,4,1,1,0,0.437500,1,0,53.1000,S
4,5,0,3,1,0.437500,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,0.337500,0,0,13.0000,S
887,888,1,1,0,0.237500,0,0,30.0000,S
888,889,0,3,0,0.371239,1,2,23.4500,S
889,890,1,1,1,0.325000,0,0,30.0000,C
890,891,0,3,1,0.400000,0,0,7.7500,Q

In [61]:
pd.get_dummies(trainOriginalData['Embarked'], dtype=int)

     C  Q  S
0    0  0  1
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
..  .. .. ..
886  0  0  1
887  0  0  1
888  0  0  1
889  1  0  0
890  0  1  0

[891 rows x 3 columns]

In [62]:
pd.concat([trainOriginalData, pd.get_dummies(trainOriginalData['Embarked'], dtype=int)], axis=1)
pd.concat([testOriginalData, pd.get_dummies(testOriginalData['Embarked'], dtype=int)], axis=1)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,C,Q,S
0,892,3,1,0.453947,0,0,7.8292,Q,0,1,0
1,893,3,0,0.618421,1,0,7.0000,S,0,0,1
2,894,2,1,0.815789,0,0,9.6875,Q,0,1,0
3,895,3,1,0.355263,0,0,8.6625,S,0,0,1
4,896,3,0,0.289474,1,1,12.2875,S,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,1,0.398324,0,0,8.0500,S,0,0,1
414,1306,1,0,0.513158,0,0,108.9000,C,1,0,0
415,1307,3,1,0.506579,0,0,7.2500,S,0,0,1
416,1308,3,1,0.398324,0,0,8.0500,S,0,0,1
417,1309,3,1,0.398324,1,1,22.3583,C,1,0,0

In [63]:
trainOriginalData = trainOriginalData.drop(["Embarked"], axis = 1)
testOriginalData = testOriginalData.drop(["Embarked"], axis = 1)

In [64]:
trainData = trainOriginalData
testData = testOriginalData

In [65]:
testData

     PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare
0            892       3    1  0.453947      0      0    7.8292
1            893       3    0  0.618421      1      0    7.0000
2            894       2    1  0.815789      0      0    9.6875
3            895       3    1  0.355263      0      0    8.6625
4            896       3    0  0.289474      1      1   12.2875
..           ...     ...  ...       ...    ...    ...       ...
413         1305       3    1  0.398324      0      0    8.0500
414         1306       1    0  0.513158      0      0  108.9000
415         1307       3    1  0.506579      0      0    7.2500
416         1308       3    1  0.398324      0      0    8.0500
417         1309       3    1  0.398324      1      1   22.3583

[418 rows x 7 columns]