In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')

In [3]:
trainOriginalData = pd.read_csv('/kaggle/input/titanic/train.csv')
testOriginalData = pd.read_csv('/kaggle/input/titanic/test.csv')
print(trainOriginalData.head(5))
print('\n')
print(testOriginalData.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S


   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [4]:
print(trainOriginalData.isna().sum(),"\n")
print(trainOriginalData.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
trainData = trainOriginalData.drop(["Name","Sex","Ticket","Cabin","Embarked","Cabin"], axis = 1)
testData = testOriginalData.drop(["Name", "Sex", "Ticket", "Cabin","Embarked","Cabin"], axis = 1)

In [6]:
yTrain = trainData["Survived"]
xTrain = trainData.fillna(trainData.mode())
xTrain = xTrain.drop(["Survived"],axis = 1)
xTest = testData.fillna(trainData.mode())

In [7]:
print(xTrain.isna().sum(),"\n")
print(xTest.isna().sum())
xTrain['Fare'] = xTrain['Fare'].fillna(xTrain['Fare'].mean())
xTrain['Age'] = xTrain['Age'].fillna(xTrain['Age'].mean())
xTest['Age'] = xTest['Age'].fillna(xTest['Age'].mean())
xTest['Fare'] = xTest['Fare'].fillna(xTest['Fare'].mean())
print(xTest.isna().sum())

PassengerId      0
Pclass           0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

PassengerId     0
Pclass          0
Age            86
SibSp           0
Parch           0
Fare            1
dtype: int64
PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [8]:
model = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=100, min_samples_leaf= 3)
model.fit(xTrain, yTrain)

RandomForestClassifier(max_depth=10, min_samples_leaf=3, random_state=100)

In [9]:
predictions = model.predict(xTest)

output = pd.DataFrame({'PassengerId': xTest.PassengerId, 'Survived': predictions})
output.to_csv('submissionBasicRF.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [10]:
from sklearn.neural_network import MLPClassifier

In [11]:
num_epochs = 30
num_hidden_units = 2048
learning_rate_init = 0.01
activation = 'relu'
SEED = 100

In [12]:
mlp = MLPClassifier(
    hidden_layer_sizes=(num_hidden_units,),
    activation=activation,
    learning_rate_init=learning_rate_init,
    warm_start=True,
    verbose=True,
    random_state=SEED,
    early_stopping=True,
    n_iter_no_change=100, # large number of iterations to avoid early stopping message
)

In [13]:
mlp.fit(xTrain, yTrain)

Iteration 1, loss = 15.66348252
Validation score: 0.611111
Iteration 2, loss = 13.50134182
Validation score: 0.611111
Iteration 3, loss = 13.84041877
Validation score: 0.388889
Iteration 4, loss = 14.27526564
Validation score: 0.611111
Iteration 5, loss = 12.29636926
Validation score: 0.611111
Iteration 6, loss = 6.34896214
Validation score: 0.388889
Iteration 7, loss = 4.14459297
Validation score: 0.544444
Iteration 8, loss = 1.09004259
Validation score: 0.555556
Iteration 9, loss = 1.35112590
Validation score: 0.577778
Iteration 10, loss = 1.19092656
Validation score: 0.588889
Iteration 11, loss = 1.14626468
Validation score: 0.377778
Iteration 12, loss = 1.02673294
Validation score: 0.566667
Iteration 13, loss = 0.62062015
Validation score: 0.511111
Iteration 14, loss = 0.65776418
Validation score: 0.566667
Iteration 15, loss = 0.80364382
Validation score: 0.588889
Iteration 16, loss = 0.62907117
Validation score: 0.566667
Iteration 17, loss = 0.61423781
Validation score: 0.544444
Iteration 18, loss = 0.62409237
Validation score: 0.555556
Iteration 19, loss = 0.70101552
Validation score: 0.522222
Iteration 20, loss = 0.60635363
Validation score: 0.544444
Iteration 21, loss = 0.61964293
Validation score: 0.522222
Iteration 22, loss = 0.60455521
Validation score: 0.522222
Iteration 23, loss = 0.61419559
Validation score: 0.522222
Iteration 24, loss = 0.60201434
Validation score: 0.522222
Iteration 25, loss = 0.66817125
Validation score: 0.577778
Iteration 26, loss = 0.62107844
Validation score: 0.577778
Iteration 27, loss = 0.59969535
Validation score: 0.566667
Iteration 28, loss = 0.59160193
Validation score: 0.533333
Iteration 29, loss = 0.58784736
Validation score: 0.533333
Iteration 30, loss = 0.57894264
Validation score: 0.555556
Iteration 31, loss = 0.58944788
Validation score: 0.544444
Iteration 32, loss = 0.63754343
Validation score: 0.577778
Iteration 33, loss = 0.62114567
Validation score: 0.555556
Iteration 34, loss = 0.57807802
Validation score: 0.577778
Iteration 35, loss = 0.58044821
Validation score: 0.533333
Iteration 36, loss = 0.58336705
Validation score: 0.555556
Iteration 37, loss = 0.57944444
Validation score: 0.577778
Iteration 38, loss = 0.57968134
Validation score: 0.555556
Iteration 39, loss = 0.57772883
Validation score: 0.533333
Iteration 40, loss = 0.62552613
Validation score: 0.488889
Iteration 41, loss = 0.74326729
Validation score: 0.477778
Iteration 42, loss = 0.67914069
Validation score: 0.555556
Iteration 43, loss = 0.63259329
Validation score: 0.588889
Iteration 44, loss = 0.60215380
Validation score: 0.577778
Iteration 45, loss = 0.58589502
Validation score: 0.555556
Iteration 46, loss = 0.62355624
Validation score: 0.555556
Iteration 47, loss = 0.63604907
Validation score: 0.544444
Iteration 48, loss = 0.64162105
Validation score: 0.544444
Iteration 49, loss = 0.86179340
Validation score: 0.544444
Iteration 50, loss = 0.62165519
Validation score: 0.566667
Iteration 51, loss = 0.65096658
Validation score: 0.566667
Iteration 52, loss = 0.62557333
Validation score: 0.577778
Iteration 53, loss = 0.60590264
Validation score: 0.577778
Iteration 54, loss = 0.60533274
Validation score: 0.566667
Iteration 55, loss = 0.59709856
Validation score: 0.566667
Iteration 56, loss = 0.60176564
Validation score: 0.566667
Iteration 57, loss = 0.60783573
Validation score: 0.566667
Iteration 58, loss = 0.59755422
Validation score: 0.566667
Iteration 59, loss = 0.58046761
Validation score: 0.544444
Iteration 60, loss = 0.57848846
Validation score: 0.555556
Iteration 61, loss = 0.57611826
Validation score: 0.555556
Iteration 62, loss = 0.58345286
Validation score: 0.533333
Iteration 63, loss = 0.59707133
Validation score: 0.566667
Iteration 64, loss = 0.63982130
Validation score: 0.555556
Iteration 65, loss = 0.62429488
Validation score: 0.555556
Iteration 66, loss = 0.72877993
Validation score: 0.522222
Iteration 67, loss = 0.65108088
Validation score: 0.566667
Iteration 68, loss = 0.63550146
Validation score: 0.566667
Iteration 69, loss = 0.62193120
Validation score: 0.566667
Iteration 70, loss = 0.65028565
Validation score: 0.577778
Iteration 71, loss = 0.63132878
Validation score: 0.577778
Iteration 72, loss = 0.59014638
Validation score: 0.533333
Iteration 73, loss = 0.59506924
Validation score: 0.533333
Iteration 74, loss = 0.59422658
Validation score: 0.555556
Iteration 75, loss = 0.61109751
Validation score: 0.600000
Iteration 76, loss = 0.67958822
Validation score: 0.588889
Iteration 77, loss = 0.62569371
Validation score: 0.566667
Iteration 78, loss = 0.59035299
Validation score: 0.566667
Iteration 79, loss = 0.59039365
Validation score: 0.522222
Iteration 80, loss = 0.67600026
Validation score: 0.555556
Iteration 81, loss = 0.60124958
Validation score: 0.555556
Iteration 82, loss = 0.77563972
Validation score: 0.566667
Iteration 83, loss = 0.81013002
Validation score: 0.566667
Iteration 84, loss = 0.73042775
Validation score: 0.588889
Iteration 85, loss = 0.63088577
Validation score: 0.577778
Iteration 86, loss = 0.60524204
Validation score: 0.566667
Iteration 87, loss = 0.61591415
Validation score: 0.611111
Iteration 88, loss = 0.62882034
Validation score: 0.577778
Iteration 89, loss = 0.71430103
Validation score: 0.600000
Iteration 90, loss = 0.71911539
Validation score: 0.577778
Iteration 91, loss = 0.65786592
Validation score: 0.600000
Iteration 92, loss = 0.63443983
Validation score: 0.566667
Iteration 93, loss = 0.62373084
Validation score: 0.566667
Iteration 94, loss = 0.59969812
Validation score: 0.544444
Iteration 95, loss = 0.62174017
Validation score: 0.511111
Iteration 96, loss = 0.63449793
Validation score: 0.511111
Iteration 97, loss = 0.62494890
Validation score: 0.544444
Iteration 98, loss = 0.62982325
Validation score: 0.566667
Iteration 99, loss = 0.60902729
Validation score: 0.577778
Iteration 100, loss = 0.62649387
Validation score: 0.566667
Iteration 101, loss = 0.65100551
Validation score: 0.588889
Iteration 102, loss = 0.65706776
Validation score: 0.600000
Validation score did not improve more than tol=0.000100 for 100 consecutive epochs. Stopping.

MLPClassifier(early_stopping=True, hidden_layer_sizes=(2048,),
              learning_rate_init=0.01, n_iter_no_change=100, random_state=100,
              verbose=True, warm_start=True)

In [14]:
predictions = mlp.predict(xTest)
output = pd.DataFrame({'PassengerId': xTest.PassengerId, 'Survived': predictions})
output.to_csv('submissionDataCkeanCNN.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

## Adding feature treatment

In [15]:
trainOriginalData = pd.read_csv('/kaggle/input/titanic/train.csv')
testOriginalData = pd.read_csv('/kaggle/input/titanic/test.csv')

In [16]:
trainOriginalData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
trainOriginalData['Sex'] = pd.get_dummies(trainOriginalData['Sex'], dtype=int)["male"]
testOriginalData['Sex'] = pd.get_dummies(testOriginalData['Sex'], dtype=int)["male"]

In [18]:
trainOriginalData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [19]:
trainOriginalData["Age"] = trainOriginalData["Age"]/trainOriginalData["Age"].max()
trainOriginalData['Age'] = trainOriginalData['Age'].fillna(trainOriginalData['Age'].mean())

testOriginalData["Age"] = testOriginalData["Age"]/testOriginalData["Age"].max()
testOriginalData['Age'] = testOriginalData['Age'].fillna(testOriginalData['Age'].mean())

In [20]:
trainOriginalData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,0.275000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,0.475000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,0.325000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,0.437500,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,0.437500,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,0.337500,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,0.237500,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,0.371239,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,0.325000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,0.400000,0,0,370376,7.7500,NaN,Q

In [21]:
trainOriginalData = trainOriginalData.drop(["Ticket","Cabin","Name"], axis = 1)
testOriginalData = testOriginalData.drop(["Ticket","Cabin","Name"], axis = 1)

In [22]:
trainOriginalData

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,1,0.275000,1,0,7.2500,S
1,2,1,1,0,0.475000,1,0,71.2833,C
2,3,1,3,0,0.325000,0,0,7.9250,S
3,4,1,1,0,0.437500,1,0,53.1000,S
4,5,0,3,1,0.437500,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,0.337500,0,0,13.0000,S
887,888,1,1,0,0.237500,0,0,30.0000,S
888,889,0,3,0,0.371239,1,2,23.4500,S
889,890,1,1,1,0.325000,0,0,30.0000,C
890,891,0,3,1,0.400000,0,0,7.7500,Q

In [23]:
pd.get_dummies(trainOriginalData['Embarked'], dtype=int)

     C  Q  S
0    0  0  1
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
..  .. .. ..
886  0  0  1
887  0  0  1
888  0  0  1
889  1  0  0
890  0  1  0

[891 rows x 3 columns]

In [24]:
pd.concat([trainOriginalData, pd.get_dummies(trainOriginalData['Embarked'], dtype=int)], axis=1)
pd.concat([testOriginalData, pd.get_dummies(testOriginalData['Embarked'], dtype=int)], axis=1)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,C,Q,S
0,892,3,1,0.453947,0,0,7.8292,Q,0,1,0
1,893,3,0,0.618421,1,0,7.0000,S,0,0,1
2,894,2,1,0.815789,0,0,9.6875,Q,0,1,0
3,895,3,1,0.355263,0,0,8.6625,S,0,0,1
4,896,3,0,0.289474,1,1,12.2875,S,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,1,0.398324,0,0,8.0500,S,0,0,1
414,1306,1,0,0.513158,0,0,108.9000,C,1,0,0
415,1307,3,1,0.506579,0,0,7.2500,S,0,0,1
416,1308,3,1,0.398324,0,0,8.0500,S,0,0,1
417,1309,3,1,0.398324,1,1,22.3583,C,1,0,0

In [25]:
trainOriginalData = trainOriginalData.drop(["Embarked"], axis = 1)
testOriginalData = testOriginalData.drop(["Embarked"], axis = 1)

In [26]:
trainData = trainOriginalData
testData = testOriginalData

In [27]:
testData

     PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare
0            892       3    1  0.453947      0      0    7.8292
1            893       3    0  0.618421      1      0    7.0000
2            894       2    1  0.815789      0      0    9.6875
3            895       3    1  0.355263      0      0    8.6625
4            896       3    0  0.289474      1      1   12.2875
..           ...     ...  ...       ...    ...    ...       ...
413         1305       3    1  0.398324      0      0    8.0500
414         1306       1    0  0.513158      0      0  108.9000
415         1307       3    1  0.506579      0      0    7.2500
416         1308       3    1  0.398324      0      0    8.0500
417         1309       3    1  0.398324      1      1   22.3583

[418 rows x 7 columns]

In [28]:
predictions = model.predict(xTest)

output = pd.DataFrame({'PassengerId': xTest.PassengerId, 'Survived': predictions})
output.to_csv('submissionTreatmentDataRF.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [29]:
mlp = MLPClassifier(
    hidden_layer_sizes=(num_hidden_units,),
    activation=activation,
    learning_rate_init=learning_rate_init,
    warm_start=False,
    max_iter= 9999,
    batch_size=50,
    verbose=False,
    validation_fraction = 0.2,
    learning_rate = "adaptive",
    random_state=SEED,
    early_stopping=True,
    n_iter_no_change=100, # large number of iterations to avoid early stopping message
)

In [30]:
#mlp.fit(xTrain, yTrain)
scores = cross_val_score(mlp, xTrain, yTrain, cv=5)
print("Mean Accuracy was: ",sum(scores)/len(scores))

Mean Accuracy was:  0.7071181972255351

In [31]:
mlp.fit(xTrain, yTrain)

MLPClassifier(batch_size=50, early_stopping=True, hidden_layer_sizes=(2048,),
              learning_rate='adaptive', learning_rate_init=0.01, max_iter=9999,
              n_iter_no_change=100, random_state=100, validation_fraction=0.2)

In [32]:
predictions = mlp.predict(xTest)
output = pd.DataFrame({'PassengerId': xTest.PassengerId, 'Survived': predictions})
output.to_csv('submissionDataCleanedCNN.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!